.schedule_container {
    display: flex;
    width: 100%;
}

.schedule_container aside {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #545456;
    padding: 0 1rem;
    width: 35%;
}

.schedule_container main {
    display: flex;
    flex-direction: column;
    width: 65%;
    overflow: auto;
}

.schedule_container main::-webkit-scrollbar {
    width: 0.8rem;
}

.schedule_container main::-webkit-scrollbar-track {
    border-radius: 5px;
}

.schedule_container main::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.schedule_container .header_actions {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    min-width: 30%;
    padding: 0.3rem 0;
}

.schedule_container .header_actions .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.schedule_container .header_actions .buttons button:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    background: transparent;
    color: #e1e1e6;
    transition: 0.1s ease-in;
}

.schedule_container .header_actions .buttons button:nth-child(2):hover {
    color: #954dff;
}

.schedule_container .header_actions .buttons button:first-child,
.schedule_container .header_actions .buttons button:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: transparent;
    color: #b1b1b3;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    transition: 0.1s ease-in;
}

.schedule_container .header_actions .buttons button:first-child:hover,
.schedule_container .header_actions .buttons button:last-child:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.schedule_container .header_actions span {
    font-size: 1.5rem;
    font-weight: 600;
}