.flash_container {
    width: 100%;
    text-align: center;
    padding: 0.9rem;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 5px;
    background: transparent;
}

.success {
    background-color: #538a19;
}

.error {
    background-color: #912236;
}