.scheduler_container {
    font-size: 1.6rem;
    height: 100%;
}

.scheduler_container div:first-child {
    display: grid;
    grid-template-columns: repeat(7, minmax(max-content, 100%));
    text-align: center;
    border-bottom: 1px solid #545456;
}

.scheduler_container div:first-child span {
    color: #954dff;
    font-weight: 600;
    padding: 0.4rem;
}

.scheduler_container ul {
    display: grid;
    grid-template-columns: repeat(7, minmax(max-content, 100%));
    height: calc(100% - 3.4rem);
    text-align: center;
    list-style: none;
}

.scheduler_container ul li {
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    border-right: 1px solid #545456;
    border-bottom: 1px solid #545456;
}

.scheduler_container ul .today::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 50%;
    z-index: -1;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #6700ff;
    transform: translateX(-50%);
}

.scheduler_container ul .inactive {
    color: #787878;
}